<main>


<div class="container">
  <div class="row">
    <div class="mx-auto">

  <% if @book.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <%= @book.errors.count %>prohibited this obj from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   <h1>Editing Book</h1>

    <%= form_with model:@book, local: true do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %><br>
    <%= f.submit 'Update Book' %><br>

    <%= link_to "Show", book_path(@book.id) %> |
    <%= link_to "Back", books_path %>
    <% end %>
    </div>
  </div>
</div>
</main>
<footer>
    <div class="container mt-5">
        <div class="row">
            <div class="mx-auto">
                <p>CopyRight Infratop.inc</p>
            </div>
        </div>
    </div>
</footer>